<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
  </head>

  <body >
    <div id="app">

        <nav class="container">

            <p class="pull-left">獨立音樂活動清單</p>
            <div class="pull-right">
                <span class="glyphicon glyphicon-th-large" @click="filter('all')"></span>
                <span class="glyphicon glyphicon-star" @click="filter('star')"></span>
                <span>|</span>
                <span class="glyphicon glyphicon-time" @click="sort('time')"></span>
                <input type="text" @keyup="filter('search')" v-model="search">
            </div>
        </nav>

        <main class="container">
            <div class="items">
                <article class="item" v-for="s in current">

                    <header>
                        <h1>{{s.title}}</h1>
                        <div :class="'swipe star ' + (favorate[s.UID] ? 'true':'') " @click="select(s)">
                          <span class="glyphicon glyphicon-star"></span>
                        </div>
                    </header>

                    <dl>
                        <dt>時間</dt>
                        <dd>{{s.showInfo[0].time}}</dd>
                    </dl>

                    <dl>
                        <dt>價錢</dt>
                        <dd>{{s.showInfo[0].price.substring(0,10)}}</dd>
                    </dl>

                    <dl>
                        <dt>地點</dt>
                        <dd>{{s.showInfo[0].location}}</dd>
                    </dl>

                </article>
            </div
            <footer class="container">
                <span v-if="current && current.length ">{{total}}</span >
                <span v-else>目前還沒有資料。</span >

            </footer>
        </main>
    </div>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
    <script>

        $.getJSON("./show.json",function(json){
            console.log(json)
            json.forEach(function(s){
                s.selected = false
            })
            window.app = new Vue({
                el : "#app",
                data : {
                    all : json ,
                    current  : json.slice() ,
                    favorate : {}
                    // search : ""
                },
                methods : {
                    select : function (s){
                        this.$set(this.favorate, s.UID , this.favorate[s.UID] ?  false : true )
                        console.log(this.favorate)

                    },

                    filter : function(option){
                        var vm = this
                        switch (option){
                            case "star" :
                                vm.current = vm.all.filter(function(s){
                                    return vm.favorate[s.UID]
                                })
                                break ;
                            case "all" :
                                vm.current = vm.all.slice()
                                break ;
                            case "search" :
                                vm.current = vm.all.filter(function(s){
                                    console.log("s.title",s.title,vm.search,s.title.toLowerCase().indexOf(vm.search))
                                    return s.title.toLowerCase().indexOf(vm.search) > 0
                                })
                                console.log("search")
                                break ;
                        }
                    },
                    sort : function (option){
                        var vm = this
                        switch (option){
                            case "time" :
                                vm.$set(vm , "current" , vm.current.sort(function(a,b){
                                    return b.showInfo[0].time.localeCompare(a.showInfo[0].time )
                                })
                                )
                                console.log("a")
                        }
                    }
                },
                computed : {
                    total : function (){
                        return this.current.reduce(function (v,s){
                            var p = parseInt(s.showInfo[0].price)
                            console.log(p)
                            return v + (!isNaN(p) ? p : 0 )
                        },0)
                    }
                }
            })
        })
    </script>

  </body>
</html>
